<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDP_JP7w8pyrRjYpflM6a2ED6cGPesiSwk</string>
	<key>GCM_SENDER_ID</key>
	<string>502832161921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comp.Tylam.FooDi</string>
	<key>PROJECT_ID</key>
	<string>foodi-52724</string>
	<key>STORAGE_BUCKET</key>
	<string>foodi-52724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502832161921:ios:aad37eeac061d0e7a29980</string>
</dict>
</plist>